*{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #DCC099;
    font-family: 'Roboto Slab', sans-serif;
    color: #443C30;
    paint-order: stroke fill;
}

a{
    text-decoration: none;
    color: inherit;
}

.map-bg{
    background: url('../img/404-bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

img{
    max-width: 100%;
}

.notice{
    position: absolute;
    bottom: 0;
    font-size: .7rem;
}

h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .8rem;
    height: 6rem;
}

h1, h2, .link a{
    margin: 0;
    width: 100%;
}

h2{
    font-size: 2rem;
    width: 100%;
}

.link{
    width: 100%;
}

.link a{
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a, .notice{
    text-shadow: 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099, 0 0 4px #DCC099;
}

.link p::after{
    content: '';
    width: 0;
    height: 20px;
    background: url('../img/underline.png');
    background-size: cover;
    position: absolute;
    bottom: -12px;
    left: 0;
    background-repeat: no-repeat;
    transition: width .3s;
}

.link:hover p::after{
    width: 100%;
}


.link p{
    position: relative;
}

.svg-wrapper svg{
    fill: white;
    width: 2rem;
    height: 2rem;
    margin-top: 6px;
    padding: 2px;
}

.svg-wrapper{
    background: #000;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

text{
    stroke: #DCC099;
    stroke-width: 12px;
    fill: #443C30;
    text-anchor: middle;
}

svg{
    display: block;
    margin: auto;
}

.phone-only{
    display: none;
}

@media only screen and (max-width: 1340px){
    h2 text{
        white-space: pre-line;
        transform: translateY(-50%);
    }
}


@media only screen and (max-height: 1024px){
    h1{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 780px){

    body, h1, h2, .link a{
        -webkit-text-stroke: none;
    }

    h1 text{
        white-space: pre-line;
        transform: translateY(-50%);
    }

    h2 text.phone-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .notice{
        font-size: 1.7rem;
    }

    .link a{
        font-size: 2.8rem;
    }

    img{
        max-height: 230px;
    }

    .map-bg{
        padding: 1rem;
    }

    .link a{
        font-size: 1.2rem;
    }

    .svg-wrapper{
        width: 2rem;
        height: 2rem;
    }

    .svg-wrapper svg{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 3px;
    }
}


