:root {
    --accent-color: #61ffbd;
    --accent-bright: #DDFFF0;
    --caption-color: #fffcf7;
    --bg-color: #373336;
}

.preload * {
    transition: none !important;
    font-family: sans-serif!important;
}

body {
    background-color: var(--bg-color);
    color: var(--caption-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -moz-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

div,
p {
    font-family: 'Nunito', sans-serif;
}

li a,
h1 a {
    color: inherit;
    text-decoration: none;
}

li a {
    padding: 0 0.8rem;
    margin-left: -0.8rem;
}

strong {
    color: #fff;
}

a strong {
    color: var(--accent-color);
    font-style: italic;
    background-image: linear-gradient(to right, var(--accent-color) 0, var(--accent-color) 100%);
    background-position: 0 50%;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.about a strong {
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}

a:hover strong {
    background-size: 100% 100%;
    color: var(--bg-color);
    font-weight: bold;
}

a,
ul,
li,
h1 {
    font-family: 'Asap', sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 10px 0;
    color: inherit;
}

h1 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 0;
}

h4,
p {
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.container {
    display: flex;
    position: relative;
    width: auto;
    margin: 5% 10%;
}

.menu {
    display: flex;
    position: fixed;
    height: 100%;
    left: 10%;
    width: 15%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footer {
    height: 15%;
    width: 100%;
}

.gallery {
    margin: auto;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

.gallery img {
    width: 100% !important;
    height: 100%!important;
    transition: transform .4s ease-in-out;
    transform: scale(1);
}

.gallery figure:hover img {
    transform: scale(1.15);
}

.gallery figure {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.content-wrapper {
    margin-left: 25%;
}

hr {
    width: 50%;
    margin: 15px 0 0 0;
    height: 2px;
    background: var(--accent-color);
    border: none;
}

nav {
    margin: 30px 0;
}

nav > ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

nav > ul > li {
    padding: 10px 2px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.3rem;
    font-size: 0.8rem;
    color: var(--accent-bright);
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--accent-color) 0, var(--accent-color) 50%);
    background-position: 0 50%;
    background-size: 0% 80%;
    background-repeat: no-repeat;
    transition-property: transform, color, background;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    font-style: italic;
}

nav > ul > li::before,
h2::before {
    content: "/ ";
    color: var(--accent-color);
}

nav > ul > li:hover {
    transform: translateX(15px);
    cursor: pointer;
    color: var(--bg-color);
    background-size: 100% 80%;
}

nav> ul >li:hover svg {
    fill: var(--accent-color);
}

.social-icons {
    width: 100%;
    min-height: 20px;
    bottom: 125px;
    position: absolute;
}

.social-icons svg,
svg {
    fill: var(--caption-color);
    height: 25px;
    width: auto;
    padding: 5px;
    transition: fill .3s ease-in-out;
}

.menu svg {
    fill: var(--accent-bright);
    margin-bottom: -10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a:hover svg {
    fill: var(--accent-color);
}

.tobii__slide figure > img {
    padding-bottom: 4rem;
}

.tobii__slide figure > figcaption {
    text-align: center;
    text-shadow: 2px 2px 1px #000000;
}

.tobii_slide {
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 1435px){
    .gallery-wrapper {
        width: 70%;
    }
}

@media only screen and (max-width:875px){
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .content-wrapper {
        width: 65%;
    }
}

@media only screen and (max-width: 768px), (max-width: 1024px) and (max-height: 1366px){
    .container {
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: auto;
    }

    .content-wrapper {
        width: 70%;
        margin: 20px auto;
    }

    .menu {
        position: static;
        width: 80%;
        text-align: center;
        margin: 40px auto;
        height: 30%;
        justify-content: center;
    }

    h1,
    h4 {
        text-align: center;
    }

    nav {
        width: 100%;
    }

    .social-icons {
        position: static;
    }

    .info {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info h5 {
        width: 100%;
        margin-bottom: -5px;
        text-align: center;
    }
}

@media only screen and (max-height: 600px){
    .social-icons {
        position: static;
    }

    .menu {
        position: static;
    }
}

.about {
    text-align: justify;
}

h2 {
    color: var(--accent-bright);
    font-family: Asap;
    font-weight: 700;
    text-transform: uppercase;
}

.table-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;

.card ul {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding-left: 20px;
}

.card li {
    font-family: 'Nunito', sans-serif;
    font-size: .9rem;
}

.card h5 {
    color: var(--accent-bright);
    font-size: .9rem;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.info {
    width: 40%;
    padding: 10px;
    text-align: left;
}

.card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info:last-child ul {
    list-style-type: none;
    padding-left: 0px;
}

.info:last-child svg {
    fill: var(--caption-color);
    margin-bottom: -10px;
    margin-right: 8px;
}

.info a strong {
    padding: 15px;
    font-style: normal;
    color: var(--caption-color);
}

.info a:hover {
    font-weight: bolder;
}

.info a:hover svg,
.info a:hover strong {
    fill: var(--bg-color);
    color: var(--bg-color);
}

.info:last-child li {
    margin-bottom: 15px;
}